In [ ]:
a=6

a

In [ ]:
sudh = 4 + 9j
sudh

(4+9j)

In [ ]:
type(sudh)

complex

In [ ]:
sudh.imag

9.0

In [ ]:
a = 23

In [ ]:
b = 24

In [ ]:
c = True

In [ ]:
True + False

1

In [ ]:
s = 'Morris '
type(s)

str

In [ ]:
print(s)

Morris

In [ ]:
s= 'ineuron'
id(s)

138812969138096

In [ ]:
s[0:4:1]

'ineu'

In [ ]:
s[::-2]

'nrei'

In [ ]:
c = []
type(c)

list

In [ ]:
s = list()
type(s)

list

In [ ]:
c = [1 , 2 , 'Morris ', 6 +9j , 'Allan', 45.6 ,['kqnsjqb s',1,34.6]]
c

[1, 2, 'Morris ', (6+9j), 'Allan', 45.6, ['kqnsjqb s', 1, 34.6]]

In [ ]:
c[-1][2]

34.6

In [ ]:
range(10)

range(0, 10)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(10,3,-1))

[10, 9, 8, 7, 6, 5, 4]

In [ ]:
list(range(10,4,-1))

[10, 9, 8, 7, 6, 5]

In [ ]:
i = [3, 4, 5, 6, 7, 8, 23, 4, 5, 5]
m = []
for l in i:
    m.append(l+2)

In [ ]:
import math
print(abs(2.9))

2.9

In [ ]:
x= input ("x: ")
y= int(x) + 1
print(f"x: {x}, y: {y}")

x: 1
x: {x}, y: {y}

In [ ]:
temperature = 25
if temperature > 30:
  print('Its warm')
  print ('I know ')
elif temperature > 20:
  print('its colder')
else:
  print('Mary')
print('done ')

its colder
done

In [ ]:
age = 17

message='Eligible' if age >=18 else 'Not eligible '
print(message)

Not eligible

In [ ]:
high_income = True
good_credit = True
student = True

if (high_income or good_credit) and not student:
  print('Eligible ')
else:
  print('Not Eligible')

Not Eligible

In [ ]:
age = 23
if 18 <= age < 65:
  print ('Eligible ')

Eligible

In [ ]:
if 10=='10':
  print('a')
elif 'bag'>'apple' and 'bag' > 'cat':
  print('b')
else:
  print('c')

c

In [ ]:
for number in range(3):
  print('attempt', number + 1, (number + 1)*'.')

attempt 1 .
attempt 2 ..
attempt 3 ...

In [ ]:
successful = False
for number in range (3):
  print('attempt')
  if successful:
    print('successful')
    break
else:
  print('Attempted 3 times and failed ')

attempt
attempt
attempt
Attempted 3 times and failed

In [ ]:
for x in range (5):
  for y in range (3):
    print(f'({x}, {y})')

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(4, 0)
(4, 1)
(4, 2)

In [ ]:
number = 100
while number > 0:
  print(number)
  number//=2

100
50
25
12
6
3
1

In [ ]:
command = ''
while command != 'quit':
  command = input('>')
  print('ECHO' , command)

KeyboardInterrupt: Interrupted by user

In [ ]:
while True:
  command = input('>')
  print('ECHO', command)
  if command.lower() == 'quit':
    break

In [ ]:
for numbers in range(1-10):
   if number / 2 == 1:
    print(number)
print(f'we have {count} even numbers ')

In [ ]:
l = [ 1, 2,3,4,5,6,7,8,9]
m =[]

for i in range(len(l)):
  if i >= 2:
    m.append(i + 2)

In [ ]:
m

[4, 5, 6, 7, 8, 9, 10]

In [ ]:
len(l)

9

In [ ]:
s = ''
if s == 10:
  print('one')
  if type(s)==int:
    print('two')
  elif type(s)==str:
    print('three')
  else :
    print('four')
elif s==50:
  print('True')
elif s==40:
  print('false')
else:
  print('None')

None

In [ ]:
l = [5,6,7,8,9,10]
for i in l :
  print (i)
else:
  print('my data is exhausted ')

5
6
7
8
9
10
my data is exhausted

In [ ]:
d = 10
s = 0
i = 1
while i <= d:
  s = s + i
  i = i + 1
  print(s,i)
print(s)

1 2
3 3
6 4
10 5
15 6
21 7
28 8
36 9
45 10
55 11
55

In [ ]:
for x in 'Morris ':
  if x == 'd':
    break
  print(x)
else:
  print('unable')

print('out of loop')

M
o
r
r
i
s

unable
out of loop

In [ ]:
for i in 'Morris ':
  if i == 'i':
    continue
  print(i)

M
o
r
r
s

In [5]:
a = input()
b = int(a)
type(b)

dkjne

ValueError: invalid literal for int() with base 10: 'dkjne'

In [7]:
a = int(input('Insert only interger  '))
print('Interger inserted ')
l = [1, 2, 3, 4, 5 ,5 ,6 ,7 ,7, 5,5 ]
m = []

for i in l :
  if i == a:
    m.append(i)
m

Insert only interger  5
Interger inserted

[5, 5, 5, 5]

In [2]:
letters = ['a','b','c','d']
letters[0]= 'A'
print(letters[0:3])
print(letters)

['A', 'b', 'c']
['A', 'b', 'c', 'd']

In [6]:
numbers = list(range(20))
print(numbers [::-2] )

[19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [10]:
numbers = [1,2,3,4,5,6,7]
first,*other,last= numbers
print(first)
print(last)
print(other)

1
7
[2, 3, 4, 5, 6]

In [3]:
letters = ['a','b','c','d']
items=(0,'a')
index, letter = items
for index, letter in enumerate(letters):
    print(index,letter)

0 a
1 b
2 c
3 d

In [10]:
#  add new items and removing items in a list
letters = ['a','b','c','d']
letters.append('e')
letters.insert(0,'-' )
print(letters)


# Remove 
letters.pop(0)
letters.remove('b')
del letters[0:3]
letters.clear()
print(letters)

['-', 'a', 'b', 'c', 'd', 'e']
['e']

In [14]:
# Finding items in a list 
letters =['a','b','d','e','f']
print(letters.count('g'))
if 'g' in letters :
    print(letters.index('g'))

0

In [18]:
# Sorting lists
numbers = [3,51,2,8,6]
# numbers.sort(reverse=True)
print(sorted(numbers, reverse=True))
# sorted(numbers)
# print(numbers)

[51, 8, 6, 3, 2]

In [21]:

items = [
    ('Product1', 10),
    ('Product2', 9),
    ('Product3', 12),
]

def sort_item(item):
    return item[1]

items.sort(key=sort_item)
print(items)

[('Product2', 9), ('Product1', 10), ('Product3', 12)]

In [22]:
# Lambda function 
items = [
    ('Product1', 10),
    ('Product2', 9),
    ('Product3', 12),
]


items.sort(key=lambda item:item[1])
print(items)

[('Product2', 9), ('Product1', 10), ('Product3', 12)]

In [25]:
# map function 
items = [
    ('Product1', 10),
    ('Product2', 9),
    ('Product3', 12),
]

prices=[]
for item in items:
    prices.append(item[1])

print(prices)

[10, 9, 12]

In [64]:
# map function 
items = [
    ('Product1', 10),
    ('Product2', 9),
    ('Product3', 12),
]
x= map(lambda item:item[1], items)
for item in x:
    print(item)

# print(x)

10
9
12

In [67]:
# Filter function 
items = [
    ('Product1', 10),
    ('Product2', 9),
    ('Product3', 12),
]
filtered=[]
x= filter(lambda item:item[1] >=10, items)
for i in x :
    print(i)

('Product1', 10)
('Product3', 12)

In [16]:
# try to return a prime number or not a prime number 
def is_prime(number):
    for i in range(2,number):
        if number % i==0:
            return False
            break
    else:
        return True

is_prime(42)

False

In [21]:
for i in ['Morris',7,'sindet',6,'45']:
    print(i)

morris
7
sindet
6
45

In [23]:
next('sudh')

TypeError: 'str' object is not an iterator

In [24]:
a =  iter('sudh')
type(a)

str_iterator

In [25]:
range(10)

range(0, 10)

In [26]:
next(range(10))

TypeError: 'range' object is not an iterator

In [27]:
# make range iterator
d = iter(range(10))

In [38]:
next(d)

StopIteration:

In [39]:
def test(n):
    for i in range(n) :
        print(i)

In [40]:
test(5)

0
1
2
3
4

In [44]:
def gencube(n):
    for i in range(n):
        yield i**3
    

gencube(10)

In [45]:
for i in gencube(10):
    print(i)

0
1
8
27
64
125
216
343
512
729

In [46]:
next(gencube(10))

0

In [48]:
d=iter(gencube(10))

In [54]:
next(d)

125

In [55]:
#generate fibonacci numbers 
def genfi(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b

genfi(10)

In [56]:
for i in genfi(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [57]:
# Convert celcius to farenheit and vice versa 
def square(n):
    return n**2


square(4)

16

In [59]:
l = [3,4,5,6,7,8,9,9]
n=[]
for i in l:
    n.append(square(i))


n

[9, 16, 25, 36, 49, 64, 81, 81]

In [60]:
# list comprehension 
[i**2 for i in l]

[9, 16, 25, 36, 49, 64, 81, 81]

In [62]:
# map function 
list(map(square,l))

[9, 16, 25, 36, 49, 64, 81, 81]

In [63]:
for i in map(square,l):
    print(i)

9
16
25
36
49
64
81
81

In [65]:
# lambda function 
l

[3, 4, 5, 6, 7, 8, 9, 9]

In [66]:
list(map(lambda X : X**2,l ))

[9, 16, 25, 36, 49, 64, 81, 81]

In [74]:
# generate a list n which is addition of the three  list 
a=[1,2,3,4,5,6]
b=[5,6,7,4,3]
c=[6,7,8,6,5,5,4]

In [75]:
def summation (x,y,z):
    return x+y+z

In [76]:
list(map(summation,a,b,c))

[12, 15, 18, 14, 13]

In [77]:
list(map(lambda x,y,z : x+y+z,a,b,c))

[12, 15, 18, 14, 13]

In [1]:
# square very number in the list below 
numbers=[1,2,3,4,5]
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25]

In [1]:
# convert to uppercase
words = ["hello", "world", "python"]
list(map(lambda x:x.upper(),words))

# def upper(n):
#     return n.

['HELLO', 'WORLD', 'PYTHON']

In [2]:
#combine first and last names 
first_names = ["John", "Jane", "Peter"]
last_names = ["Doe", "Smith", "Jones"]

list(map(lambda x,y:x+y,first_names,last_names))

['JohnDoe', 'JaneSmith', 'PeterJones']

In [9]:

def capitalize(n):
    return n.upper()

In [10]:
words = ["hello", "world", "python"]
n=[]
for i in words:
    n.append(capitalize(i))

In [11]:
n

['HELLO', 'WORLD', 'PYTHON']

In [24]:
# Create a Custom Mapping Function
numbers = [1, 2, 3, 4, 5]
def doubeadd(numbers):
    return (numbers**2 )+ 1 

list(map(doubeadd,numbers))

[2, 5, 10, 17, 26]

In [23]:
numbers = [1, 2, 3, 4, 5]
def doubeadd(numbers):
    return (numbers**2 )+ 1 

for i in numbers:
    print(doubeadd(i))

2
5
10
17
26

In [2]:
def summation (a,b):
    return a +b

In [3]:
# reduce
from functools import reduce
l=[4,5,6,7,8,9]
reduce(summation,l)

39

In [6]:
l=[4,5,6,7,8,9]
reduce(lambda x,y:x+y,l)

39

In [7]:
l = [4,5,6,7,8,7,8,8]
list(filter(lambda x: x%2 == 0,l))

[4, 6, 8, 8, 8]

In [8]:
def even_check(n):
    if n%2 == 0:
        return True

In [9]:
list(filter(even_check,l))

[4, 6, 8, 8, 8]

In [11]:
items = [
    ('product1', 10),
    ('product2', 9),
    ('product',12),
]

prices=list(map(lambda item:item[1]>=10,items))

prices=[item[1] for item in items]

filtered= list(filter(lambda item:item[1]>= 10,items))
filtered = [item for item in items if item[1]>=10]

In [13]:
list1 = [1,2,3]
list2 = [10,20,30]

print(list(zip('abc',list1,list2)))

[('a', 1, 10), ('b', 2, 20), ('c', 3, 30)]

In [5]:
#stack
browsing_session=[]
browsing_session.append(1)
browsing_session.append(2)
browsing_session.append(3)
print(browsing_session)
last = browsing_session.pop()
print(last)
print(browsing_session)
print('redirect',browsing_session)

[1, 2, 3]
3
[1, 2]
redirect [1, 2]

In [9]:
# Queue
from collections import deque
queue= deque([])
queue.append(1)
queue.append(2)
queue.append(3)
queue.popleft()
print(queue)
if not queue:
    print('empty')

deque([2, 3])

In [12]:
# Tuple 
point =1,
print(type(point))

<class 'tuple'>

In [13]:
point = (1,2)*3
print(point)

(1, 2, 1, 2, 1, 2)

In [19]:
point = (1,2,3)
print(point[0:2])
x,y,z = point
if 1  in point:
    print('exists')

(1, 2)
exists

In [23]:
# swapping variables
x= 10
y= 11
x, y=y, x
z=x
x=y
y=z
print('x',x)
print('y',y)

x 10
y 11

In [27]:
x= 10
y= 11
x, y = y, x
x, y =(11,10)

In [6]:
# array
from array import array 

numbers=array('i',[1,2,3])
numbers[0]

1

In [13]:
# sets
numbers = [1,1,2,3,4]
first= set(numbers)
second={1,5,6}
print(first| second)
print(first& second)
print(first- second)
print(first^ second)

{1, 2, 3, 4, 5, 6}
{1}
{2, 3, 4}
{2, 3, 4, 5, 6}

In [26]:
# dictionary

point={'x':1,'y':2}
# or
point = dict(x=1,y=2)
point['x']=10
point['z']=20
print(point)
if 'a'in point:
    print(point('a'))
print(point.get('a',0))
del point['x']
print(point)
for x in point:
    print(x)
for key,value in point.items():
    print(key,value)

{'x': 10, 'y': 2, 'z': 20}
0
{'y': 2, 'z': 20}
y
z
y 2
z 20

In [34]:
# dictionary comprehensions
# values={}
# for x in range(5):
#     values[x]=x*2

values=( x * 2 for x in range(5) )
print(values)

<generator object <genexpr> at 0x00000253F58D1890>

In [41]:
# generator
from sys import getsizeof

values=( x * 2 for x in range(100000))
print('gen:',getsizeof(values))
values=[x * 2 for x in range(100000)]
print('list:',getsizeof(values))

gen: 112
list: 800984

In [43]:
# unpacking list 
numbers = [1,2,3]
print(*numbers)

1 2 3